@import "../../assets/style/variables.scss";

.admin {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .container {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
    }
}

.menuList{
    display: flex;
    padding: 60px;
    justify-content: space-around;
    .menuBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .MuiIconButton-edgeStart {
            margin-left: 0;
        }
    }
}
