@import "../font/font.css";
@import "../font/icon.css";
@import "./variables.scss";

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #673ab7;
  border-radius: 4px;
}

.tag {
  padding: 2px 4px;
  border-radius: 3px;
  white-space: nowrap;
  background-color: #9e9e9e;
  color: white;
}
#nprogress {
  .spinner {
    width: 100vw;
    top: 0;
    display: flex;
    right: 0;
    align-items: center;
    background: rgba(255, 255, 255, 0.68);
    justify-content: center;
    height: 100vh;
    pointer-events: auto;
    .spinner-icon {
      border-top-color: #3f51b5;
      border-left-color: #3f51b5;
    }
  }
  .bar {
    background: #3f51b5;
    z-index: 1032;
  }
}
